<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ if not .Date.IsZero }}
  <meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
  {{ end }}
  {{ with .Site.LanguageCode }}
  <meta property="og:locale" content="{{ replace . "-" "_" }}" />
  {{ end }}
  {{ with .Site.Title }}
  <meta property="og:site_name" content="{{ . }}" />
  {{ end }}
  <link rel="icon" href="/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body class="{{ with .Site.Params.pageLayoutClass }}{{ . }}{{ end }}">

  <div class="wrap">
    <header class="mb">
      <h1 class="h2 m-0"><a href="/">{{ .Site.Title }}</a></h1>
      <p class="site-description">{{ .Site.Params.description }}</p>
    </header>
